body {
    margin: 0;
    padding: 0;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container
{
    position: relative;
    background-color: rgb(226, 231, 231);
    height: 1250px;
    width: 1300px;
    flex-direction: row;
    
}
.myphoto
{
    position: relative;
    width: 250px;
    height: auto;
}
.infor
{
    width: 500px;
    height:98%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(163, 159, 159);
    position: absolute;
}
.skill
{
    margin-left: 600px;
    position: absolute;
    padding-right: 20px;
}